{% comment %}
	
Usage:
{% include gc-title-header.html %}
	
{% endcomment %}


<div class="container-fluid banner">
	<div class="row" >
		<div class="col-lg-12" style="text-align: center;" >

			<img src="/img/cross-section-a@2x.png" width="78" height="114" class="cross-section lhs cs-outer" >
			<img src="/img/cross-section-b@2x.png" width="78" height="114" class="cross-section lhs cs-middle" >
			<img src="/img/cross-section-c@2x.png" width="78" height="114" class="cross-section lhs cs-inner" >

			<div class="title-banner" >
{% comment %}
			<p class="text-center lead play">
			play<br>
			<img src="/img/flourish@2x.png" width="70" height="22" >
			</p>
{% endcomment %}
			<p class="text-center lead">
			<a href="/" ><img src="/img/title@2x.png" width="214" height="118" alt="Manowar" ></a>
			</p>
			</div>

			<img src="/img/cross-section-d@2x.png" width="78" height="114" class="cross-section rhs cs-inner" >
			<img src="/img/cross-section-e@2x.png" width="78" height="114" class="cross-section rhs cs-middle" >
			<img src="/img/cross-section-f@2x.png" width="78" height="114" class="cross-section rhs cs-outer" >

		</div>
	</div><!--/.row-->
</div><!--/.container-->

