{% comment %}

Usage:
{% include mailing-list.html %}

{% endcomment %}



{% if site.data.settings.enable_mailing_list %}

<h4>Keep updated</h4>

Sign up to be notified of game release info...

<form action="http://makersend.createsend.com/t/d/s/vjhht/" class="navbar-form" style="padding-left:0;" method="post" >
<div class="form-group">
<input type="email" class="form-control" name="cm-vjhht-vjhht" placeholder="Email" style="width: 200px;" required>
</div>
<button type="submit" class="btn btn-info">Join</button>
</form>

<p style="margin-top:20px;">
If you use a RSS feed reader follow the dev blog here: <a href="http://manowargame.com/feed.xml" target="_blank" >http://manowargame.com/feed.xml</a>
</p>

{% endif %}
